.App {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #334257;
}

.header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Logo {
  /* background-color: white; */
  /* background-image: url('./dna.png'); */
  padding: 12px;
  /* height: 5rem; */
  height: 7vw;
  box-sizing: border-box;
  border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App-Name{
  font-size: 3vw;
  font-weight: var(--dl-font-weight-font-weight-bold);
  color: white;
  margin-left: 5px;
  font-family: 'Montserrat';
}

.container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* body {
  width: '100%';
  height: '100%';
  line-height: '100%';
}

.App-Header{

  background-color: #334257;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0px 20px;
}


.rectangle{

  width: 30%;
  height: 50%;
  background-color:#476072;
  position:absolute;

  transform:translate(-50%,-50%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.box{
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-container {
  background-color: #334257;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


